<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.digitalleague.core.mapper.TaxiInfoMapper">
    <resultMap id="taxiDriver"
               type="ru.digitalleague.core.model.TaxiDriverInfoModel">
        <id property="driverId" column="driver_id"/>
        <result property="lastName" column="last_name"/>
        <result property="firstName" column="first_name"/>
        <result property="level" column="level"/>
        <result property="createDttm" column="create_dttm"/>
        <result property="rate" column ="rate"/>
        <result property="isBusy" column="is_busy"/>
        <result property="minuteCost" column="minute_cost"/>
        <result property="cityID" column="city_id"/>
        <result property="carID" column="car_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        driver_id, last_name, first_name, "level", create_dttm, rate, is_busy, minute_cost, city_id, car_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="taxiDriver">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from taxi_drive_info
        where driver_id = #{driverId,jdbcType=BIGINT}
    </select>

    <select id="selectByLastName" parameterType="java.lang.String" resultMap="taxiDriver" useCache="false">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from taxi_drive_info
        where last_name = #{lastName}
    </select>

    <insert id="insert" parameterType="ru.digitalleague.core.model.TaxiDriverInfoModel">
        <!--@mbg.generated-->
        <selectKey resultType="Long" keyProperty="driverId" order="BEFORE">
            select nextval('taxi_driver_seq');
        </selectKey>
        insert into taxi_drive_info (driver_id, last_name, first_name, "level", create_dttm, rate, is_busy, minute_cost, city_id, car_id)
        values (#{driverId,jdbcType=BIGINT}, #{lastName,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR},
        #{level,jdbcType=INTEGER}, #{createDttm,jdbcType=TIMESTAMP}, #{rate,jdbcType=INTEGER}, #{isBusy,jdbcType=BOOLEAN},
        #{minuteCost,jdbcType=INTEGER}, #{cityID,jdbcType=LONG}, #{carID,jdbcType=LONG})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ru.digitalleague.core.model.TaxiDriverInfoModel">
        <!--@mbg.generated-->
        update taxi_drive_info
        set last_name = #{lastName,jdbcType=VARCHAR},
        first_name = #{firstName,jdbcType=VARCHAR},
        "level" = #{level,jdbcType=INTEGER},
        create_dttm = #{createDttm,jdbcType=TIMESTAMP},
        rate = #{rate,jdbcType=INTEGER},
        is_busy = #{isBusy,jdbcType=BOOLEAN},
        minute_cost = #{minuteCost,jdbcType=INTEGER},
        city_id = #{cityID,jdbcType=LONG},
        car_id = #{carID,jdbcType=LONG}
        where driver_id = #{driverId,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="ru.digitalleague.core.model.TaxiDriverInfoModel">
        <!--@mbg.generated-->
        delete
        from taxi_drive_info
        where driver_id = #{driverId,jdbcType=BIGINT}
    </delete>

    <select id="getAllDrivers1" resultMap="taxiDriver">
        SELECT driver_id, last_name, first_name, "level", create_dttm, rate, is_busy, minute_cost, city_id, car_id FROM taxi_drive_info
    </select>

    <select id="getCount1" resultType="java.lang.Integer">
        select count(1) from taxi_drive_info
    </select>
</mapper>